In [1]:
import pandas as pd

#### Importing sample_superstore.csv, using open() function to read the file into a buffer and then pass it to pandas.read_csv() to handle decoding/encoding errors:

In [2]:
file = open('sample_superstore.csv', encoding='utf-8', errors='replace')
df = pd.read_csv(file)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

### Extracting customers data from sample_superstore.csv:

In [ ]:
customers_dataset = df[['Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region', 'Postal Code']]
customers_dataset.drop_duplicates(inplace=True)
customers_dataset_unique = customers_dataset.groupby('Customer ID').first()
customers_dataset_unique.reset_index(inplace=True)

In [5]:
customers_dataset_unique.isnull().any()

Customer ID      False
Customer Name    False
Segment          False
City             False
State            False
Country          False
Region           False
Postal Code      False
dtype: bool

In [6]:
customers_dataset_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    793 non-null    object
 1   Customer Name  793 non-null    object
 2   Segment        793 non-null    object
 3   City           793 non-null    object
 4   State          793 non-null    object
 5   Country        793 non-null    object
 6   Region         793 non-null    object
 7   Postal Code    793 non-null    int64
dtypes: int64(1), object(7)
memory usage: 49.7+ KB

In [7]:
customers_dataset_unique.to_csv('datasets/customers_data.csv')

### Extracting orders data from sample_superstore.csv:

In [ ]:
orders_dataset = df[['Order ID', 'Customer ID', 'Product ID','Order Date', 'Ship Date', 'Ship Mode']]
orders_dataset.drop_duplicates(inplace=True)
orders_dataset['Order Date']= pd.to_datetime(orders_dataset['Order Date'])
orders_dataset['Ship Date']= pd.to_datetime(orders_dataset['Ship Date'])

In [9]:
orders_dataset.isnull().any()

Order ID       False
Customer ID    False
Product ID     False
Order Date     False
Ship Date      False
Ship Mode      False
dtype: bool

In [10]:
orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9986 entries, 0 to 9993
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     9986 non-null   object
 1   Customer ID  9986 non-null   object
 2   Product ID   9986 non-null   object
 3   Order Date   9986 non-null   datetime64[ns]
 4   Ship Date    9986 non-null   datetime64[ns]
 5   Ship Mode    9986 non-null   object
dtypes: datetime64[ns](2), object(4)
memory usage: 546.1+ KB

In [11]:
orders_dataset.to_csv('datasets/orders_data.csv')

### Extracting products data from sample_superstore.csv:

In [ ]:
products_dataset = df[['Product ID', 'Category', 'Sub-Category','Product Name']]
products_dataset.drop_duplicates(inplace=True)
product_dataset_unique = products_dataset.groupby(products_dataset['Product ID']).first()
product_dataset_unique.reset_index(inplace=True)

#### Removing ',' from the 'Product Name' column to avoid error with CSV:

In [13]:
product_dataset_unique['Product Name'] = product_dataset_unique['Product Name'].str.replace(",", " ")

In [14]:
product_dataset_unique.isnull().any()

Product ID      False
Category        False
Sub-Category    False
Product Name    False
dtype: bool

In [15]:
product_dataset_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1862 entries, 0 to 1861
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product ID    1862 non-null   object
 1   Category      1862 non-null   object
 2   Sub-Category  1862 non-null   object
 3   Product Name  1862 non-null   object
dtypes: object(4)
memory usage: 58.3+ KB

In [16]:
product_dataset_unique.to_csv('datasets/products_data.csv')

### Extracting superstore sales summary from sample_superstore.csv:

In [ ]:
superstore_summary = df[['Customer ID', 'Order ID', 'Product ID', 'Sales', 'Quantity', 'Discount', 'Profit']]
superstore_summary.drop_duplicates(inplace=True)

In [18]:
superstore_summary.isnull().any()

Customer ID    False
Order ID       False
Product ID     False
Sales          False
Quantity       False
Discount       False
Profit         False
dtype: bool

In [19]:
superstore_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  9993 non-null   object
 1   Order ID     9993 non-null   object
 2   Product ID   9993 non-null   object
 3   Sales        9993 non-null   float64
 4   Quantity     9993 non-null   int64
 5   Discount     9993 non-null   float64
 6   Profit       9993 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 624.6+ KB

In [20]:
superstore_summary.to_csv('datasets/superstore_summary.csv')